*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /*---VARIABLES------*/
  --header-height: 4.5rem;

  /*---COLORS------*/
  --hue: 150;
  /*HSL color mode*/
  --base-color: hsl(var(--hue) 60% 45%);
  --base-color-second: hsl(var(--hue)30% 90%);
  --base-color-alt: hsl(var(--hue)57% 53%);
  --title-color: hsl(var(--hue)41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color:rgb(247, 247, 247);  

  /*---FONTS------*/
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

html{
  background-color: var(--body-color);
  font: 400 1rem var(--body-font);
}

/*---HEADER---*/
header {
  border-bottom: 2px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

/*LOGO*/
.logo {
  font: 700 2rem var(--title-font);
  color: var(--title-color);
  margin: 1rem 0 1rem 2rem ;
}

.logo span:nth-child(1){
  color: var(--base-color);
}

/*---MAIN---*/
main{
  margin: 1rem;
  z-index: 0;
  padding: 5rem 1rem;
}


/*TOTAL CARDS*/
.total-values-cards{
  display: flex;
  justify-content: flex-start;

}

.total-values-cards .card{
  display: grid;
  width: 310px;
  height: 300px;
  margin-right: 1.5rem;
  border-radius: .3rem;
  background-color: var(--body-color);
}

.total-values-cards .total-values .box-card{
  padding: 1.5rem;
  border-radius: .5rem;
}

.total-values-cards .total-values .total-gain{
  margin-bottom: 0.75rem;
  color: var(--text-color-light);
  background-color: var(--base-color);
}
.total-values-cards .total-values .total-gasto{
  background-color: var(--base-color-second);
}

.total-values-cards .card p:nth-child(2){
  font: 700 2rem var(--title-font);
}

.total-values-cards .graph-card{
  margin-right: 1.5rem;
}


.graph-cards .card{
  padding:  1.5rem 0;
}


